.loading {
    position: absolute;
    background: #fff;
    height: 100%;
    width: 100%;
    z-index: 99;
}
.loading-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 44%;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
